/* css Xavier */
body {
    background-image: url("../Images/grille_blanche.png");
    background-repeat: repeat;
    background-size: 2rem;
    display: flex;
}

#searchBox {
    font-size: 0.7rem;
    height: 30px;
    background-color: rgb(202, 202, 202);
    border-radius: 0;
    box-shadow: inset 3px -3px 3px 0px rgb(170, 170, 170), inset -3px 3px 3px 0px rgb(170, 170, 170); 
    background-image: url("../Images/loupe.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 1rem;
}

#externalLink a {
    cursor: pointer;
    color: rgb(208, 106, 52);
    font-size: 0.8rem;
}

#externalLink a:hover {
    cursor: pointer;
    text-shadow: 2px 2px 3px gray;
}

.mainLogo img{
    width: 100%;
    height: 100%;
}

#socialBox li {
    list-style: none;
}

#socialBox li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin: 0;
    border-radius: 2px;
    transition: 0.4s;
}

.rss {
    background: rgb(255, 120, 0);
}
.facebook {
    background: rgb(76, 105, 186);
}
.twitter {
    background: rgb(0, 196, 252);
}
.youtube {
    background: rgb(198, 4, 4);
}
.gplus {
    background: rgb(216, 61, 45);
}

.linkedin {
    background: rgb(99, 121, 184);
}

.pinterest {
    background: rgb(198, 4, 4);
}

.stumbl {
    background: rgb(219, 40, 20);
}

.tumblr {
    background: rgb(43, 66, 122);
}

#socialBox li a:hover .fab, #socialBox li a:hover .fas {
    transform: rotateY(360deg);
    color: #333;
}

#socialBox li a .fab, #socialBox li a .fas  {
    transition: 0.8s;
}

#navbarRxt {
    font-size: 1rem;
    font-weight: bold;
}

#navbarRxt li:hover {
    background-color: black;  
}

#navbarRxt li:hover a {
    color: white;  
}

#navbarRxt li a {
    color: black;  
}

.navSelection {
    background-color: gray;
}

header {
    position: sticky;
    top: -12.8rem;
    z-index: 1;
}

.imageSlide {
    position: relative;
}

.imageSlide img {
    height: 23.1rem;
}


.legendSlide {
    background-image: url("../Images/RXTMiniLogo.png");
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: 0%, 0%;
    width: 34.8rem;
    margin: 0;
    padding: 2rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
    background-color: rgba(90, 90, 90, 0.8);
    transition: 1.5s ease;
    animation: moveLegendSlide 3s 1;
}

@keyframes moveLegendSlide {
    0% {bottom: -5rem;}
    100% {bottom: 0;}
}

.infoArticle {
    color: rgb(130, 130, 130);
    font-size: 1rem;
}

.article h3 {
    color: black;
}
.article a {
    text-decoration: none;
    color: rgb(130, 130, 130);
}

.article a:hover {
    color: orange;
}

.titleArticle {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.iconeTagArticle {
    font-size: 1.5rem;
}

#socialBox2 li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#socialBox2 li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin: 0;
    border-radius: 50%;
    transition: 0.4s;
}

#socialBox2 li a:hover .fab, #socialBox2 li a:hover .fas {
    transform: rotateY(360deg);
    color: #333;
}

#socialBox2 li a .fab, #socialBox2 li a .fas  {
    transition: 0.8s;
}

.imageArticle {
    position: relative;
}

.imageArticle img {
    width: 100%;
}

.bannerArticle {
    background-image: url("../Images/RXTMiniLogo.png");
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position: 2%, 0%;
    width: 100%;
    margin: 0;
    padding: 2rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    font-size: 2rem;
    color: white;
    text-align: center;
    background-color: rgba(90, 90, 90, 0.8);
}

.textArticle {
    font-size: 1.2rem;
}

.article h4 {
    font-size: 1.8rem;
}

.cardArticle {
    background-color: rgb(190, 190, 190);
    box-shadow: 5px 5px 3px gray;
}

.cardArticle img {
    border: 1px solid black;
    box-shadow: 0px 0px 5px 5px black;
}

.helpRxt {
    font-weight: bold;
}

.authorArticle {
    width: 200px;
}

.card-body h5 {
    font-size: 1.5rem;
}

h3.themeTitle {
    color: rgb(190, 190, 190);
    font-size: 2rem;
}


/* css Richard */
.img-responsive{      
    position: relative; 
    width: 100%;   
}

.titre2{
    position: absolute; 
    color:white;
    font-size: 1.5rem;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    background-color: rgba(90, 90, 90, 0.5);    
}

.titre2 h2{
    font-size: 4rem;  
    background-image: url("../Images/RXTMiniLogo.png");
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: 0%, 0%;
}
.second h3 {
    font-size: 250%;    
}

.positionligne{
    margin-right: 0;
    margin-left: 0;    
    text-align: center;
    border: 1px solid rgb(136, 134, 134);
}

.second{           
    font-size: 150%; 
    font-weight: bold;            
}

.para{
    margin-top: 3%;
}

.icones{
    display: flex;
    justify-content: center;
}

.tweeter {
    margin: 1%;
}

.pub{    
    margin-left: auto;
    margin-right: auto;    
    display: flex;
    justify-content: center;  
    width: 80%;
}

.btnNext{
    background-color: rgb(100, 100, 100);
    color: white;
    margin-top: 3%;
    transition: 0.5s;
}
.person{
    margin-top: 1.5%;
}
.auteur {
    display: flex;
    justify-content: left;    
    font-size: 0.8rem;
    color: rgb(148, 143, 143);     
}

.test{    
    color: rgb(148, 143, 143);
    display: flex;
    justify-content: right;
    font-size: 0.8rem;    
}

.para a {
    text-align: center;
}

.para a:hover {
    text-decoration: none;
    color: white;
}

.para .btnNext:hover {
    background-color: black;
    box-shadow: 3px 3px 3px 3px gray;
    transition: 0.2s;
}




/* css Thibault */
footer{
    background-image: url("../Images/grille_noir02.png");
    background-repeat: repeat;
    background-size: 2rem;
    overflow: scroll;
}

footer h3{
    color: white;
    padding-bottom: 8%;
}
footer h5{
    color: #A9A9A9;
    text-decoration: underline;
    padding-bottom: 8%;
}
footer div{
    color: #A9A9A9;
    font-size: 1rem;
}
footer ul {
    color:#A9A9A9;
    font-size: 0.8rem;
    list-style: none;
}
footer span{
    color: white;
}
footer .bandeau{
    background-color: black; 
}

footer p{
    font-size: 10px;
    color: white;
}
footer #listinline{
    color:#A9A9A9;
    list-style: none;
}

#listinline li {
    color:#A9A9A9;
}



















@media screen and (min-width: 1200px) {
    header {
        top: -13.2rem;
    }
    /* .titre2 {
        width: 40rem;
    } */
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    header {
        top: -11.2rem;
    }
    .bannerArticle {
        background-size: 4rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header {
        top: -12.2rem;
    }

    .titre2 h2 {
        background-size: 5rem;
    }

    .bannerArticle {
        background-size: 4rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    header {
        top: -11.35rem;
    }
}

@media screen and (max-width: 575px) {
    header {
        top: -10.6rem;
    }

    .titre2 {
        /* width: 21rem; */
        font-size: 1rem;
    }

    .titre2 h2 {
        font-size: 3rem;
        background-size: 3rem;
    }

    .bannerArticle {
        background-size: 2rem;
        font-size: 1rem;
    }

    .iconeTagArticle {
        font-size: 1rem;
    }

}